body {
  margin: 0;
  font-family:'Verdana';
}

.center-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main-content{
  height: 70vh;
}

@keyframes move_wave {
  0% {
      transform: translateX(0) translateZ(0) scaleY(1)
  }
  50% {
      transform: translateX(-25%) translateZ(0) scaleY(0.55)
  }
  100% {
      transform: translateX(-50%) translateZ(0) scaleY(1)
  }
}

.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: 0;
  z-index: -100;
}

.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  z-index: -100;
  background-image: linear-gradient(to top, #30082b 10%, #27273c 80%);

}


.bgTop {
  z-index: 15;
  opacity: 0.5;
}
.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}
.bgBottom {
  z-index: 5;
}
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-size: 50% 100px;
}
.waveAnimation .waveTop {
animation: move-wave 3s;
 -webkit-animation: move-wave 3s;
 -webkit-animation-delay: 1s;
 animation-delay: 1s;
}
.waveMiddle {
  background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}
.waveBottom {
  background-size: 50% 100px;
}
.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}

.lds-hourglass {
  display: none;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}


.btn
{      
    overflow: hidden;
    display: block;
    border: 2px solid white;  
    font-family: 'Arial';
    font-size: 1rem;
    color: white;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    outline: none;
    position: relative;
    transition: all 0.3s;
    border-radius: 4rem;
    font-weight:700;
    
}
.btn:after{
    content: '';
    position: absolute;
    z-index: -1;
    transition: all 0.3s;
   box-sizing: border-box;
}
.btn:hover{
  background-color:white;
  color:#457b9d;
  transform: scale(1.1)

}
#restart-btn {
  display: none;
}

.toggle-table {
  content: center;
  border-collapse: collapse;
  overflow: hidden;
}
table.toggle-table td {
  padding: 10px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
}

.hidden-table {
  border-radius: 25px;
  content: center;
  border-collapse: collapse;
  display: none;
  overflow: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table.hidden-table th,
table.hidden-table td {
  padding: 25px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.082);
  color: #fff;
}
table.hidden-table th {
  text-align: center;

}
thead th {
  background-color: #583a7433;
}
table.hidden-table tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.137);
}
tbody td {
  position: relative;
}


::-webkit-scrollbar {
  width: 20px;

}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee175;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
  
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.title {
  font-size: 30px;
  font-weight: 300;
  margin: 10px;
  padding-left: 20px;
  padding-top: 50px;
  background-image: radial-gradient(ellipse, #ffffff, #b0acb9);
  color: transparent;
  background-clip: text;
  
  -webkit-background-clip: text;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "ON";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  content: "OFF";
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
